.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/resources/*.jar
!**/src/test/resources/*.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/resources/
!**/src/test/resources/

### JRebel ###
rebel.xml

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### VS Code ###
.vscode/

### Operating System ###
.DS_Store
Thumbs.db
bin/

